	<div id="footer"><a href="http://www.geolivero.com" target="_blank" id="geo">made by Geolivero</a>
			<?php if (templ_get_lang() === 'nl'): ?>
            <a class="cc" href="http://creativecommons.org/licenses/by-nd/3.0/nl/" target="_blank" >cc</a>
			<?php else: ?>
				<a class="cc" href="http://creativecommons.org/licenses/by-nd/3.0/nl/deed.en" target="_blank" >cc</a>
			
			<?php endif; ?>
        </div>
    <div id="topBar">
        <div class="center">
                
                <div id="navigation">
                <?php if($page['navigation']): ?>
					<?php echo render($page['navigation']);?>
				<?php endif; ?>

            	</div>
                <a href="/" id="logo" class="<?php echo templ_get_lang(); ?>">Groeipartner</a>
                <ul id="social">
                    <li id="twitterIcon"><a target="_blank" href="http://twitter.com/#groeipartner">twitter</a></li>
                    <li id="linkedIcon"><a target="_blank" href="http://nl.linkedin.com/in/jackkorsten">linked in</a></li>
                    <li id="youtubeIcon"><a target="_blank" href="http://www.youtube.com/user/GroeiPartner">youtube</a></li>
                </ul>
            <?php if ($page['lang']): ?>
                    <div id="lang">
                            <?= render($page['lang']); ?>
                    </div>
            <?php endif; ?>

        </div>

    </div>
</div>
</body>