@import url("subsprite.less");

@page_width: 950px;
@page_padding: 20px;
@orange: #FF7233; @white:#FFF; @black:#000; @green:#669900;
@darkGrey: #333; @grey: #CCC; @red:#CC0000;
* { padding: 0; margin: 0; border: none; outline: none;}
.sprite (@x: 0, @y: 0px) { background: url(../images/sprite.png) no-repeat @x @y;}
.removeTxt { text-indent: -999em; }
.noDecor { text-decoration: none;}
.darkShadow (@lighter: 0, @shift:-1px) { 
    text-shadow: 0 @shift 0 @black + @lighter; 
}
.transition (@var: all 0.5s) {
    -webkit-transition: @var;
    -moz-transition: @var;
    -o-transition: @var;
    -ms-transition: @var;
    transition: @var;
}
a { &:hover { color: @orange!important;} }
.boxShadow (@blur: 20px,  @color: @black) { 
    -webkit-box-shadow: 1px 1px @blur 0px #000;
    -moz-box-shadow: 1px 1px @blur 0px #000;
    box-shadow: 1px 1px @blur 0px #000;}
.noList { list-style-type: none;}
.lightShadow { 
    text-shadow: 0 1px 0 @white; 
}
.rounded(@radius: 3px) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}
h1 { .yanone; }
.didact { font-family: 'Didact Gothic', sans-serif; }
.droid { font-family: 'Droid Sans', sans-serif; }
.yanone { font-family: 'Yanone Kaffeesatz', sans-serif; }

body, html { height: 100%;}
div#wrapper {
    text-align: center; padding-top: 80px;
    div.center { width: @page_width; margin: 0 auto; position: relative;  text-align: left;}

    ul {
        list-style-type: none;
        list-style-image: none;

        li {
            list-style-type: none;
            list-style-image: none;
        }
    }

    div#groeiAgenda {
        div.center {
            position: relative; overflow: hidden;
            div.social {
                position: absolute;
                bottom: 10px; left: 0; z-index: 20;
            }
            > h2 {
                font-weight: 200; text-transform: uppercase;
                font-size: 400%; padding-bottom: 20px; .yanone;
                span { color: @orange;}
            }  
            min-height: 500px;

            div.selector {
                position: relative; z-index: 10;
                
                a {
                    display: block; color: @white; text-decoration: none;
                    .rounded(10px); display: inline-block;
                    background: @darkGrey - 50; line-height: 30px; height: 30px;
                    text-align: center; width: 300px; margin-bottom: 10px;
                }

                &:hover {

                    ul {
                        display: block;
                    }
                }

                ul {
                    position: absolute; left: 0; top: 35px; width: 300px - 20;
                    background: @black; .rounded(10px); padding: 10px;
                    display: none;
                    li {
                        padding-bottom: 5px; padding-left: 5px;
                        border-bottom: solid 1px @grey - 80;
                        &:last-child {
                            border: none;
                        }
                        &:hover {
                            background: @darkGrey; cursor: pointer;
                        }
                        &.active {
                            background: @darkGrey + 30;
                        }
                    }
                }
            }
        }
        div.agendaItems {
            
            ul {
                li {
                    .transition; z-index: 2;
                    position: absolute; left: 0; top: 100%; width: 100%;
                    padding-top: 140px;
                    &:first-child, &.active {
                        top: 0; 
                    }
                    &.hidden {
                         position: absolute; left: 0; top: 100%;
                    }
                    div.colls {
                        overflow: hidden;

                        div.left {
                            float: left; width: 550px; min-height: 380px;
                            
                            h2 {
                                .yanone; font-weight: 100;
                                padding-bottom: 20px;
                            }
                            p {
                                color: @grey; padding-bottom: 15px;
                            }
                            div.date {
                                .yanone; width: 100%;
                                overflow: hidden; margin: 10px 0 20px 0;
                                
                                span {
                                    font-size: 200%;    
                                    float: left;
                                    &.day {
                                        width: 80px;
                                        font-size: 500%; line-height: 50px;
                                    }
                                }
                                div {
                                    width: 150px; float: left;
                                    span {
                                        width: 100%; line-height: 30px;
                                    }
                                }
                            }
                        }
                        div.right {
                            float: left; width: 305px;
                            position: absolute; top: 100px; right: 0;
                            padding-top: 0px; padding-left: 50px;
                            border-left: solid 1px @grey - 80;
                            div.img {
                                .gr-frame; text-align: center;
                                img {
                                    margin: 8px 0 0 -3px;
                                }
                                i.lamp {
                                    .gr-light; position: absolute;
                                    left: 25px; top: -100px;
                                }
                            }
                            div.btn {
                                text-align: center;
                                a {
                                    border: solid 5px @white;
                                   .rounded(30px); height: 50px; line-height: 50px;
                                   display: inline-block; background: @green - 10;
                                   color: @white; padding: 0 20px;
                                   text-decoration: none; font-size: 130%;
                                   .droid;
                                    &:hover {
                                        background: @black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }  

    }

	div#content {
                div#nieusWidget {
                    margin-top: -20px;
                    input { width: 220px; }
                    input[type=checkbox] { width: auto;}
                }
		div#recentieLijst { 
			float: right; padding-top: 20px;
			a.rightArrow, a.leftArrow {
				.rounded(10px); margin: 5px; display: block; float: left;  background: @darkGrey; padding: 5px; border: solid 1px @white; text-decoration: none; font-size: 2em; 	height: 20px; line-height: 15px; 
			}
			
			div.item-list {
				width: 465px; border: @darkGrey solid 1px;  background: @white; .boxShadow; overflow: hidden; .rounded(10px); height: 380px; 
			}
		 	ul { padding: 0; margin: 0;  
			
			li { 
			h3 { color:@darkGrey; padding-bottom: 10px; }
			p {  color:@darkGrey;  font-size: 0.8em; }
			div { float: left; width: 240px; p { width: 240px; padding-bottom:10px;  } }
			div.views-field-field-afbeelding { 
				float: left; border: @darkGrey solid 2px; overflow: hidden; height: 180px; margin: 10px 10px 0 0; 
				width: 165px;
			}
			padding: 10px; margin: 0; width:  455px; float: left; overflow: auto; height: 380px;   } }
		}
			div.views-row-5 {
                            div.image { float: right; }

			}
               
	}
    

    div#topBar {
        div#lang {
            position: absolute; right: 150px; top: 10px;
            ul {
                .noList; height: 20px; padding: 5px 10px;
                li, a  { float: left; .didact; }
                li.active a { color:@orange;}
                a { height: 20px; .noDecor; font-size: .8em; line-height: 20px; padding: 0 5px; color:@white;}
                li.en a {
                   .rounded(3px);  .sprite(-263px, -220px); .removeTxt; width: 19px; height: 17px;
                }
                li.active a { border: solid 1px @grey;}
                li.nl a {
                    .rounded(3px); .sprite(-295px, -220px); .removeTxt; width: 19px;  margin-right: 10px; height: 17px;
                }
            }
        }
        position: fixed; top: 0; left: 0; width: 100%; .boxShadow(10px, @black + 150);
        height: 90px; z-index: 80; background: url(../images/tiler.jpg) left top; border-bottom: (@grey - 130) solid 1px;
        div.center { height: 90px;}
        a#logo {
            display: block; width: 200px; height: 60px; position: absolute; left: 0px;
            bottom: 5px; .sprite(-32px, -258px); .removeTxt;
        } 

        ul.menu {
            list-style-type: none;  list-style-image: none;
            height: 30px; position: absolute; right: 0px; bottom: 10px; .noList;
            li, li a { float: left; list-style-image: none; list-style-type: none; }
            li {
                a { 
                    &.active {
                        .rounded(5px); cursor: default; .lightShadow; font-weight: bold; background: @white; color: @darkGrey;
                    }
                }
            }
            a { 
                color:@white; .didact; color:@grey; .noDecor; .darkShadow(0, -2px); 
                padding: 0 10px; line-height: 30px; height: 30px; font-size: 0.95em;
                &:hover { color:@orange;}
            }
        }
        ul#social {
            position: absolute; right: 0px; top: 5px; .noList;
            li {
                float: left; a {

                    float: left; display: block; .sprite(-62px, -220px); width: 34px; margin-right: 10px; height: 34px;
                    .removeTxt;
                }
                &#youtubeIcon  { a {  .sprite(-179px, -220px); } }
                &#twitterIcon  { a {  .sprite(-24px, -220px); } }
            }
        }
    }
    div#quotes {
        
        div.center { 
            ul { .noList; padding: 53px 100px 0 100px; text-align: center;
                border-bottom: dotted 1px @grey; height: 250px; 
                li.views-row-first { display: block; }
                li {
                    display: none;
                    
                }
                div, h2, p { display: inline; }
                h2, p { font-weight: normal; .yanone; font-size: 2em; text-align: center;}
            }
            div.left { 
                position: absolute; left: 10px; top: 40px; width: 78px; height: 81px;
                .sprite(-24px, -127px);
            }
            div.right { 
                position: absolute; right: 10px; bottom: 20px; width: 78px; height: 81px;
                .sprite(-131px, -127px);
            }
        }
       
    }
    div#higlightBlok {
        div.center {
            width: @page_width; padding: 20px 0; position: relative; 
            @widthBlocks: (@page_width / 2) - 100px - 40px; overflow: hidden;
            div#highlights, div#videos, div#highlightContent div.highCont {
                float: left; width: @widthBlocks; min-height: 220px;
                .rounded (10px); border: solid 20px @grey + 20; background: @darkGrey;
                color:@white; .darkShadow; .didact; 
            }
            h1, h2 { .didact; }

            div#videos, div#highlightContent div.highCont {
                width: @widthBlocks - 71px;  padding: 5px 0;
                ul { 
                    .noList;
                    li { 
                        display: none;
                        &.current { display: block;}
                    }
                }
                div.links {
                    a { color:@white; .noDecor; padding-left: 20px; line-height: 30px;}
                }
            }
            div#videos {
                position: absolute; top: 20px; right: 0; float:none;
            }
            div#highlightContent {
                overflow: hidden; width: 0px; position: relative;
                 div#subContent { padding:10px 20px; h1 { padding-bottom: 10px; font-size: 1.2em;} }
                 .closeButton { .noDecor;  height: 30px; line-height: 30px; padding: 0 10px; .rounded(20px); color:@white; display: block; position: absolute; right: 0; top: 0; background:@orange;
                    &:hover { background: @black;}
                 }
            }
            div#highlights { 
                margin-right: 10px; margin-left:240px; padding: 20px 30px; width: @widthBlocks - 40px;
                a { color:@orange; .noDecor; &:hover { text-decoration: underline!important;}}
                h1 { font-size: 1.4em; padding-bottom: 10px;}
            }
            div.asset { position: absolute; left: -5px; bottom: 50px; background: url(../images/jack.png) no-repeat left top; width: 291px; height: 310px;}
            div.shadow { .sprite(center, 0); height: 30px; clear: both;}
        }
    }
    
    div.textured {
        background: url(../images/tiler.jpg) repeat left top; padding: 10px; 
        position: relative;
        div.stripesTop, div.stripesBottom { 
            position: absolute; left: 0; top: 0; width: 100%; height: 10px;
            background: url(../images/line-tiler.gif) repeat-x left top;
        }
        div.stripesBottom { bottom: 0; top: auto;}
        div.center { 
            color:@white; padding: 10px 0; .didact;
        }
    }
    div.topShadow {
        position: absolute; left: 0; top: 20px; width: 460px; height: 25px;
        .sprite(32px, -102px);
    }
    div.bottomShadow {
        position: absolute; left: 0; bottom: 0; width: 460px; height: 25px;
        .sprite(32px, -78px);
    }
    div#downloadWidget {
        background: url(../images/tiler.jpg) repeat left top;
        width: 480px; .rounded(5px); color:@white;  height: 300px; overflow: auto; border: solid 1px @grey;
        div.image  { float: left; width: 120px; img { border: solid 1px @grey - 90; }}
        ul {
            padding: 20px;
            li {
                overflow: hidden;  padding: 10px 0; width: 430px; .darkShadow;
                div.image { float: left; width: 100px;}
                border-bottom: solid 1px @grey - 120;
            }
        }
        
        
        h3.downHeader {
            color:@white; float: left; width: 300px;  font-size:.9em; font-weight: normal; padding: 0 0 10px 10px;
            a { color:@orange; .noDecor; &:hover { text-decoration: underline; }}
        }
        div.downContent { color:@white; line-height: 1.5em; font-size:.8em; float: left; width: 300px; padding: 0 10px; }
    }
    div.home-page-rows {
        div.center {
            .didact; overflow: hidden; padding:100px 0 ;
            div.image {
                float: left; width: 480px; position: relative; padding-top: 20px;
                a.loadResults {
                    display: block; background: @grey - 100; border: solid 1px @grey; .boxShadow (10px,  @black + 50); color:@white; position: absolute; left: 10px; bottom: -20px; z-index: 10;
                    padding: 0 10px; .rounded(10px); .noDecor; height: 25px; line-height: 25px;
                }
                img.loader { position: absolute; right: 0; top: 0;}
   
            }
            div.bodyMethod {
                p { width: auto; min-height: 250px;}
            }
            div.contTxt { 
                color: @grey - 80;
                h2 { .yanone; font-size: 4em;}
                float: left; width: @page_width - 480px - 30px; padding: 0 0 0 30px;
				p { padding-bottom: 15px; line-height: 1.6em; }
				a { color: @orange; }
            }
            div#methodHeaders {
                h2 { .yanone; font-size: 4em; color:@grey - 20; .lightShadow; font-weight: 100; text-transform: uppercase;
                    span { color:@orange;}  float: left; width: 330px; border-right: solid 1px @grey;
                    padding-right: 30px; text-align: right;
                }
                p {
                   font-size: 1.3em; color:@grey; display: block; float: left; width: 330px; padding: 10px 0 0 30px;
                }
                overflow: hidden;
            }
            a.goTop { 
                diplay: block; background: @grey - 50; .noDecor; .darkShadow; color:@white; padding: 0 10px;
                height: 30px; line-height: 30px; position: absolute; top: 0; right: 0; &:hover { .lightShadow; background: @grey - 100; }
            }
            ul {
                overflow: hidden; padding-top: 50px;
                li {
                    float: left; overflow: hidden; width: 120px; position: relative; min-height: 140px;
                    div div.stepsMethod {
                        float: left; width: 105px; height: 105px; .sprite(-118px, -328px);
                        text-align: center; padding-top: 20px; .darkShadow (0, -2px);
                        span { display: block; font-size: 2.5em; }

                        cursor: pointer;
                        color:@white;
                    }
                    div.bodyMethod {
                        position: absolute; left: 121px; top:0;
                        div.graphic {
                            .sprite(10px, -530px); height: 51px; width: 130px;
                        }
                        p { padding: 10px 0; font-size:.85em;}
                    }
                    &.views-row-2 div.bodyMethod { div.graphic { .sprite(-247px, -529px); } }
                    &.views-row-3 div.bodyMethod  { div.graphic { .sprite(-540px, -528px); } }
                    &.views-row-4 div.bodyMethod  { div.graphic { .sprite(-787px, -529px); } }
                    &.views-row-first {
                        width: 400px;
                        div.stepsMethod { .sprite(-7px, -328px); }
                    }

                    &.current { div.stepsMethod { .sprite(-7px, -328px);  } }
                }
            }
            
        }
        &.views-row-odd {
            background: url(../images/tiler.jpg) repeat left top; padding: 10px; 
            position: relative;
            p { color:@white; width: 350px; }
			a { color: @orange; text-decoration: underline; &:hover { color: @white; }}
            div.contTxt { color:@grey!important; }
            div.stripesTop, div.stripesBottom { 
                position: absolute; left: 0; top: 0; width: 100%; height: 10px;
                background: url(../images/line-tiler.gif) repeat-x left top;
            }
            div.stripesBottom { bottom: 0; top: auto;}
        }

    }

}

div#subContent {
    padding: 30px;
	p { padding-bottom: 10px; }
}

div.media {
    position: relative;
    span.playBtn { display: block; position: absolute; left: 0; top: 0;   width: 258px; cursor: pointer; height: 192px; background: url(../images/play-btn.png) no-repeat center center;}
}

form {
    .didact; padding: 20px;
    label { display: block; padding: 5px 0; }
    input{ border: solid 1px @grey;  padding: 5px; font-size: .9em;}
    input.form-submit {
        background: url(../images/tiler.jpg) left top; .boxShadow (5px,@black + 130); border: solid 2px @grey; .rounded(5px); cursor: pointer; color:@white; padding:10px 15px;
        width: 250px!important; 
    }
}

div#ownPop {
    width: 100%; height: 100%; z-index:1000;
    position: absolute; left: 0; top: 0;
    div.ownControllers a { position: absolute; right: 0px; top:-30px; width:60px; height:30px; line-height: 30px;  text-align: right; padding-right:10px; .didact; color:@white; display: block; .noDecor;}
    div.ownOverlay { background:@black; filter: alpha(opacity=80); opacity:0.8; width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 1; }
    div.ownContent { z-index: 2;  background:@darkGrey - 40; width:  600px; .rounded(5px); border: solid 1px @grey - 150; height: 360px; .boxShadow; position: absolute; left:50%; top: 50%; margin-top: -360px / 2; margin-left: -(640px / 2); 
        div#app_infoHolder {
            h1 { font-size: 1.3em; padding-bottom: 20px;} color:@white;
            margin: 20px; overflow: auto; .didact; line-height: 1.6em; height: 360px - 20px;
        }
        div#app_youtubeHolder img { border: solid 1px @grey;}
        div.downloadInfoContent {
            h1 { padding-bottom: 15px;} .didact;
            form { position: absolute; height: 400px; z-index: 9; .didact; width: 550px; left: 10px; background:@darkGrey - 40; top: 10px;}
            color:@white; height: 400px; overflow: auto; padding: 20px; margin: 10px;
            p {  line-height: 1.6em; }
            div.field-label { padding: 10px; }
            a { color: @orange; &:hover { color:@white;} }
        }
        div.messagesHolder {
            background: @black; z-index: 10; width: 350px; padding: 30px; position: absolute; left: 50%;
            top: 100px; .rounded(10px); margin-left: -175px; color:@red; .didact; border: solid 1px @grey;
            .boxShadow;
            div.messages { overflow: hidden; }
            a.sluiten { display: block; position: absolute; right: 10px; top: 10px; padding: 0 10px; height: 25px;
                color:@white; background:@red; .noDecor; .rounded(10px); height: 20px; line-height: 20px;
            }
            a.closeForm { display: block; .noDecor; margin: 10px 0; height: 30px; line-height: 30px;
             padding: 0 10px; background: @green; color:@white; .rounded(5px); float: left;
             
            }
            ul {
                .noList;
            }
        }
        img.loader { position: absolute; right: 10px; top: 10px;}
    }
}

form#download-fun-userdetails--2, form#download-fun-userdetails {
    width: 500px;
    fieldset {
        overflow: hidden; padding: 0; margin: 0;
        legend { display: none;}
        div.form-item {
            float: left; width: 200px; padding: 0 10px 5px 0; margin: 0;
            label { display: block; padding: 5px 0;}
            input { width: 190px;}
            input#edit-housenumber { width: 80px; }
        }
    }
    input.form-submit {
        margin-top: 10px;
    }
}

form#constant-contact-signup-form {
    padding: 0;
}
div#app_youtubeHolder {
    margin: 10px; overflow: auto; 
    ul { .noList;
        li, a { float: left; }
        li { padding: 0 10px 10px 0; }
    }
    
}
div.ownContentHolder {
    a.terugToClibs { color:@white; .didact; .noDecor; display: block; padding: 10px 0;}
}


div#footer {
	background: url(../images/tiler.jpg) left top; height: 50px; position: relative;
}
div#footer a#geo {
	position: absolute; display: block; color: #FF7233; left: 50%; top: 10px; text-decoration: none; font-family: 'Yanone Kaffeesatz', sans-serif; 
}
div#footer .cc {
	position: absolute; display: block; left: 50%; margin-left: -480px; top: 10px; text-decoration: none; background: url(../images/cc.gif) no-repeat left top; width: 74px; height: 27px; text-indent: -999em; 
}

img.loader { margin: 50px; background:@white; padding: 5px; .rounded;}

div#messages { text-align: left; .didact;}