.gr-frame {
  background: url(../images/subsprite.png) 0px 0px no-repeat;
  display: inline-block;
  width: 305px;
  height: 333px;
}
.gr-light {
  background: url(../images/subsprite.png) -307px 0px no-repeat;
  display: inline-block;
  width: 339px;
  height: 250px;
}
.icon-arr-down {
  background: url(../images/subsprite.png) -348px -252px no-repeat;
  display: inline-block;
  width: 17px;
  height: 14px;
}
.icon-arr-up {
  background: url(../images/subsprite.png) -367px -252px no-repeat;
  display: inline-block;
  width: 17px;
  height: 14px;
}
.icon-indicator {
  background: url(../images/subsprite.png) -307px -252px no-repeat;
  display: inline-block;
  width: 39px;
  height: 50px;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
.removeTxt {
  text-indent: -999em;
}
.noDecor {
  text-decoration: none;
}
a:hover {
  color: #ff7233 !important;
}
.noList {
  list-style-type: none;
}
.lightShadow {
  text-shadow: 0 1px 0 #ffffff;
}
h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.didact {
  font-family: 'Didact Gothic', sans-serif;
}
.droid {
  font-family: 'Droid Sans', sans-serif;
}
.yanone {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body,
html {
  height: 100%;
}
div#wrapper {
  text-align: center;
  padding-top: 80px;
}
div#wrapper div.center {
  width: 950px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}
div#wrapper ul {
  list-style-type: none;
  list-style-image: none;
}
div#wrapper ul li {
  list-style-type: none;
  list-style-image: none;
}
div#wrapper div#groeiAgenda div.center {
  position: relative;
  overflow: hidden;
  min-height: 500px;
}
div#wrapper div#groeiAgenda div.center div.social {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 20;
}
div#wrapper div#groeiAgenda div.center > h2 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 400%;
  padding-bottom: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
div#wrapper div#groeiAgenda div.center > h2 span {
  color: #ff7233;
}
div#wrapper div#groeiAgenda div.center div.selector {
  position: relative;
  z-index: 10;
}
div#wrapper div#groeiAgenda div.center div.selector a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-block;
  background: #010101;
  line-height: 30px;
  height: 30px;
  text-align: center;
  width: 300px;
  margin-bottom: 10px;
}
div#wrapper div#groeiAgenda div.center div.selector:hover ul {
  display: block;
}
div#wrapper div#groeiAgenda div.center div.selector ul {
  position: absolute;
  left: 0;
  top: 35px;
  width: 280px;
  background: #000000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  display: none;
}
div#wrapper div#groeiAgenda div.center div.selector ul li {
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: solid 1px #7c7c7c;
}
div#wrapper div#groeiAgenda div.center div.selector ul li:last-child {
  border: none;
}
div#wrapper div#groeiAgenda div.center div.selector ul li:hover {
  background: #333333;
  cursor: pointer;
}
div#wrapper div#groeiAgenda div.center div.selector ul li.active {
  background: #515151;
}
div#wrapper div#groeiAgenda div.agendaItems ul li {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding-top: 140px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li:first-child,
div#wrapper div#groeiAgenda div.agendaItems ul li.active {
  top: 0;
}
div#wrapper div#groeiAgenda div.agendaItems ul li.hidden {
  position: absolute;
  left: 0;
  top: 100%;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls {
  overflow: hidden;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left {
  float: left;
  width: 550px;
  min-height: 380px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left p {
  color: #cccccc;
  padding-bottom: 15px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left div.date {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 100%;
  overflow: hidden;
  margin: 10px 0 20px 0;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left div.date span {
  font-size: 200%;
  float: left;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left div.date span.day {
  width: 80px;
  font-size: 500%;
  line-height: 50px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left div.date div {
  width: 150px;
  float: left;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.left div.date div span {
  width: 100%;
  line-height: 30px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.right {
  float: left;
  width: 305px;
  position: absolute;
  top: 100px;
  right: 0;
  padding-top: 0px;
  padding-left: 50px;
  border-left: solid 1px #7c7c7c;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.right div.img {
  background: url(../images/subsprite.png) 0px 0px no-repeat;
  display: inline-block;
  width: 305px;
  height: 333px;
  text-align: center;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.right div.img img {
  margin: 8px 0 0 -3px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.right div.img i.lamp {
  background: url(../images/subsprite.png) -307px 0px no-repeat;
  display: inline-block;
  width: 339px;
  height: 250px;
  position: absolute;
  left: 25px;
  top: -100px;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.right div.btn {
  text-align: center;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.right div.btn a {
  border: solid 5px #ffffff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  background: #5c8f00;
  color: #ffffff;
  padding: 0 20px;
  text-decoration: none;
  font-size: 130%;
  font-family: 'Droid Sans', sans-serif;
}
div#wrapper div#groeiAgenda div.agendaItems ul li div.colls div.right div.btn a:hover {
  background: #000000;
}
div#wrapper div#content div#nieusWidget {
  margin-top: -20px;
}
div#wrapper div#content div#nieusWidget input {
  width: 220px;
}
div#wrapper div#content div#nieusWidget input[type=checkbox] {
  width: auto;
}
div#wrapper div#content div#recentieLijst {
  float: right;
  padding-top: 20px;
}
div#wrapper div#content div#recentieLijst a.rightArrow,
div#wrapper div#content div#recentieLijst a.leftArrow {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 5px;
  display: block;
  float: left;
  background: #333333;
  padding: 5px;
  border: solid 1px #ffffff;
  text-decoration: none;
  font-size: 2em;
  height: 20px;
  line-height: 15px;
}
div#wrapper div#content div#recentieLijst div.item-list {
  width: 465px;
  border: #333333 solid 1px;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  box-shadow: 1px 1px 20px 0px #000000;
  overflow: hidden;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 380px;
}
div#wrapper div#content div#recentieLijst ul {
  padding: 0;
  margin: 0;
}
div#wrapper div#content div#recentieLijst ul li {
  padding: 10px;
  margin: 0;
  width: 455px;
  float: left;
  overflow: auto;
  height: 380px;
}
div#wrapper div#content div#recentieLijst ul li h3 {
  color: #333333;
  padding-bottom: 10px;
}
div#wrapper div#content div#recentieLijst ul li p {
  color: #333333;
  font-size: 0.8em;
}
div#wrapper div#content div#recentieLijst ul li div {
  float: left;
  width: 240px;
}
div#wrapper div#content div#recentieLijst ul li div p {
  width: 240px;
  padding-bottom: 10px;
}
div#wrapper div#content div#recentieLijst ul li div.views-field-field-afbeelding {
  float: left;
  border: #333333 solid 2px;
  overflow: hidden;
  height: 180px;
  margin: 10px 10px 0 0;
  width: 165px;
}
div#wrapper div#content div.views-row-5 div.image {
  float: right;
}
div#wrapper div#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  -moz-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  height: 90px;
  z-index: 80;
  background: url(../images/tiler.jpg) left top;
  border-bottom: #4a4a4a solid 1px;
}
div#wrapper div#topBar div#lang {
  position: absolute;
  right: 150px;
  top: 10px;
}
div#wrapper div#topBar div#lang ul {
  list-style-type: none;
  height: 20px;
  padding: 5px 10px;
}
div#wrapper div#topBar div#lang ul li,
div#wrapper div#topBar div#lang ul a {
  float: left;
  font-family: 'Didact Gothic', sans-serif;
}
div#wrapper div#topBar div#lang ul li.active a {
  color: #ff7233;
}
div#wrapper div#topBar div#lang ul a {
  height: 20px;
  text-decoration: none;
  font-size: .8em;
  line-height: 20px;
  padding: 0 5px;
  color: #ffffff;
}
div#wrapper div#topBar div#lang ul li.en a {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: url(../images/sprite.png) no-repeat -263px -220px;
  text-indent: -999em;
  width: 19px;
  height: 17px;
}
div#wrapper div#topBar div#lang ul li.active a {
  border: solid 1px #cccccc;
}
div#wrapper div#topBar div#lang ul li.nl a {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: url(../images/sprite.png) no-repeat -295px -220px;
  text-indent: -999em;
  width: 19px;
  margin-right: 10px;
  height: 17px;
}
div#wrapper div#topBar div.center {
  height: 90px;
}
div#wrapper div#topBar a#logo {
  display: block;
  width: 200px;
  height: 60px;
  position: absolute;
  left: 0px;
  bottom: 5px;
  background: url(../images/sprite.png) no-repeat -32px -258px;
  text-indent: -999em;
}
div#wrapper div#topBar ul.menu {
  list-style-type: none;
  list-style-image: none;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 10px;
  list-style-type: none;
}
div#wrapper div#topBar ul.menu li,
div#wrapper div#topBar ul.menu li a {
  float: left;
  list-style-image: none;
  list-style-type: none;
}
div#wrapper div#topBar ul.menu li a.active {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: default;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: bold;
  background: #ffffff;
  color: #333333;
}
div#wrapper div#topBar ul.menu a {
  color: #ffffff;
  font-family: 'Didact Gothic', sans-serif;
  color: #cccccc;
  text-decoration: none;
  text-shadow: 0 -2px 0 #000000;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  font-size: 0.95em;
}
div#wrapper div#topBar ul.menu a:hover {
  color: #ff7233;
}
div#wrapper div#topBar ul#social {
  position: absolute;
  right: 0px;
  top: 5px;
  list-style-type: none;
}
div#wrapper div#topBar ul#social li {
  float: left;
}
div#wrapper div#topBar ul#social li a {
  float: left;
  display: block;
  background: url(../images/sprite.png) no-repeat -62px -220px;
  width: 34px;
  margin-right: 10px;
  height: 34px;
  text-indent: -999em;
}
div#wrapper div#topBar ul#social li#youtubeIcon a {
  background: url(../images/sprite.png) no-repeat -179px -220px;
}
div#wrapper div#topBar ul#social li#twitterIcon a {
  background: url(../images/sprite.png) no-repeat -24px -220px;
}
div#wrapper div#quotes div.center ul {
  list-style-type: none;
  padding: 53px 100px 0 100px;
  text-align: center;
  border-bottom: dotted 1px #cccccc;
  height: 250px;
}
div#wrapper div#quotes div.center ul li.views-row-first {
  display: block;
}
div#wrapper div#quotes div.center ul li {
  display: none;
}
div#wrapper div#quotes div.center ul div,
div#wrapper div#quotes div.center ul h2,
div#wrapper div#quotes div.center ul p {
  display: inline;
}
div#wrapper div#quotes div.center ul h2,
div#wrapper div#quotes div.center ul p {
  font-weight: normal;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  text-align: center;
}
div#wrapper div#quotes div.center div.left {
  position: absolute;
  left: 10px;
  top: 40px;
  width: 78px;
  height: 81px;
  background: url(../images/sprite.png) no-repeat -24px -127px;
}
div#wrapper div#quotes div.center div.right {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 78px;
  height: 81px;
  background: url(../images/sprite.png) no-repeat -131px -127px;
}
div#wrapper div#higlightBlok div.center {
  width: 950px;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}
div#wrapper div#higlightBlok div.center div#highlights,
div#wrapper div#higlightBlok div.center div#videos,
div#wrapper div#higlightBlok div.center div#highlightContent div.highCont {
  float: left;
  width: 335px;
  min-height: 220px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: solid 20px #e0e0e0;
  background: #333333;
  color: #ffffff;
  text-shadow: 0 -1px 0 #000000;
  font-family: 'Didact Gothic', sans-serif;
}
div#wrapper div#higlightBlok div.center h1,
div#wrapper div#higlightBlok div.center h2 {
  font-family: 'Didact Gothic', sans-serif;
}
div#wrapper div#higlightBlok div.center div#videos,
div#wrapper div#higlightBlok div.center div#highlightContent div.highCont {
  width: 264px;
  padding: 5px 0;
}
div#wrapper div#higlightBlok div.center div#videos ul,
div#wrapper div#higlightBlok div.center div#highlightContent div.highCont ul {
  list-style-type: none;
}
div#wrapper div#higlightBlok div.center div#videos ul li,
div#wrapper div#higlightBlok div.center div#highlightContent div.highCont ul li {
  display: none;
}
div#wrapper div#higlightBlok div.center div#videos ul li.current,
div#wrapper div#higlightBlok div.center div#highlightContent div.highCont ul li.current {
  display: block;
}
div#wrapper div#higlightBlok div.center div#videos div.links a,
div#wrapper div#higlightBlok div.center div#highlightContent div.highCont div.links a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 20px;
  line-height: 30px;
}
div#wrapper div#higlightBlok div.center div#videos {
  position: absolute;
  top: 20px;
  right: 0;
  float: none;
}
div#wrapper div#higlightBlok div.center div#highlightContent {
  overflow: hidden;
  width: 0px;
  position: relative;
}
div#wrapper div#higlightBlok div.center div#highlightContent div#subContent {
  padding: 10px 20px;
}
div#wrapper div#higlightBlok div.center div#highlightContent div#subContent h1 {
  padding-bottom: 10px;
  font-size: 1.2em;
}
div#wrapper div#higlightBlok div.center div#highlightContent .closeButton {
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  color: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: #ff7233;
}
div#wrapper div#higlightBlok div.center div#highlightContent .closeButton:hover {
  background: #000000;
}
div#wrapper div#higlightBlok div.center div#highlights {
  margin-right: 10px;
  margin-left: 240px;
  padding: 20px 30px;
  width: 295px;
}
div#wrapper div#higlightBlok div.center div#highlights a {
  color: #ff7233;
  text-decoration: none;
}
div#wrapper div#higlightBlok div.center div#highlights a:hover {
  text-decoration: underline!important;
}
div#wrapper div#higlightBlok div.center div#highlights h1 {
  font-size: 1.4em;
  padding-bottom: 10px;
}
div#wrapper div#higlightBlok div.center div.asset {
  position: absolute;
  left: -5px;
  bottom: 50px;
  background: url(../images/jack.png) no-repeat left top;
  width: 291px;
  height: 310px;
}
div#wrapper div#higlightBlok div.center div.shadow {
  background: url(../images/sprite.png) no-repeat center 0;
  height: 30px;
  clear: both;
}
div#wrapper div.textured {
  background: url(../images/tiler.jpg) repeat left top;
  padding: 10px;
  position: relative;
}
div#wrapper div.textured div.stripesTop,
div#wrapper div.textured div.stripesBottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  background: url(../images/line-tiler.gif) repeat-x left top;
}
div#wrapper div.textured div.stripesBottom {
  bottom: 0;
  top: auto;
}
div#wrapper div.textured div.center {
  color: #ffffff;
  padding: 10px 0;
  font-family: 'Didact Gothic', sans-serif;
}
div#wrapper div.topShadow {
  position: absolute;
  left: 0;
  top: 20px;
  width: 460px;
  height: 25px;
  background: url(../images/sprite.png) no-repeat 32px -102px;
}
div#wrapper div.bottomShadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 460px;
  height: 25px;
  background: url(../images/sprite.png) no-repeat 32px -78px;
}
div#wrapper div#downloadWidget {
  background: url(../images/tiler.jpg) repeat left top;
  width: 480px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #ffffff;
  height: 300px;
  overflow: auto;
  border: solid 1px #cccccc;
}
div#wrapper div#downloadWidget div.image {
  float: left;
  width: 120px;
}
div#wrapper div#downloadWidget div.image img {
  border: solid 1px #727272;
}
div#wrapper div#downloadWidget ul {
  padding: 20px;
}
div#wrapper div#downloadWidget ul li {
  overflow: hidden;
  padding: 10px 0;
  width: 430px;
  text-shadow: 0 -1px 0 #000000;
  border-bottom: solid 1px #545454;
}
div#wrapper div#downloadWidget ul li div.image {
  float: left;
  width: 100px;
}
div#wrapper div#downloadWidget h3.downHeader {
  color: #ffffff;
  float: left;
  width: 300px;
  font-size: .9em;
  font-weight: normal;
  padding: 0 0 10px 10px;
}
div#wrapper div#downloadWidget h3.downHeader a {
  color: #ff7233;
  text-decoration: none;
}
div#wrapper div#downloadWidget h3.downHeader a:hover {
  text-decoration: underline;
}
div#wrapper div#downloadWidget div.downContent {
  color: #ffffff;
  line-height: 1.5em;
  font-size: .8em;
  float: left;
  width: 300px;
  padding: 0 10px;
}
div#wrapper div.home-page-rows div.center {
  font-family: 'Didact Gothic', sans-serif;
  overflow: hidden;
  padding: 100px 0 ;
}
div#wrapper div.home-page-rows div.center div.image {
  float: left;
  width: 480px;
  position: relative;
  padding-top: 20px;
}
div#wrapper div.home-page-rows div.center div.image a.loadResults {
  display: block;
  background: #686868;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  -moz-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  color: #ffffff;
  position: absolute;
  left: 10px;
  bottom: -20px;
  z-index: 10;
  padding: 0 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
}
div#wrapper div.home-page-rows div.center div.image img.loader {
  position: absolute;
  right: 0;
  top: 0;
}
div#wrapper div.home-page-rows div.center div.bodyMethod p {
  width: auto;
  min-height: 250px;
}
div#wrapper div.home-page-rows div.center div.contTxt {
  color: #7c7c7c;
  float: left;
  width: 440px;
  padding: 0 0 0 30px;
}
div#wrapper div.home-page-rows div.center div.contTxt h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4em;
}
div#wrapper div.home-page-rows div.center div.contTxt p {
  padding-bottom: 15px;
  line-height: 1.6em;
}
div#wrapper div.home-page-rows div.center div.contTxt a {
  color: #ff7233;
}
div#wrapper div.home-page-rows div.center div#methodHeaders {
  overflow: hidden;
}
div#wrapper div.home-page-rows div.center div#methodHeaders h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4em;
  color: #b8b8b8;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: 100;
  text-transform: uppercase;
  float: left;
  width: 330px;
  border-right: solid 1px #cccccc;
  padding-right: 30px;
  text-align: right;
}
div#wrapper div.home-page-rows div.center div#methodHeaders h2 span {
  color: #ff7233;
}
div#wrapper div.home-page-rows div.center div#methodHeaders p {
  font-size: 1.3em;
  color: #cccccc;
  display: block;
  float: left;
  width: 330px;
  padding: 10px 0 0 30px;
}
div#wrapper div.home-page-rows div.center a.goTop {
  diplay: block;
  background: #9a9a9a;
  text-decoration: none;
  text-shadow: 0 -1px 0 #000000;
  color: #ffffff;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
div#wrapper div.home-page-rows div.center a.goTop:hover {
  text-shadow: 0 1px 0 #ffffff;
  background: #686868;
}
div#wrapper div.home-page-rows div.center ul {
  overflow: hidden;
  padding-top: 50px;
}
div#wrapper div.home-page-rows div.center ul li {
  float: left;
  overflow: hidden;
  width: 120px;
  position: relative;
  min-height: 140px;
}
div#wrapper div.home-page-rows div.center ul li div div.stepsMethod {
  float: left;
  width: 105px;
  height: 105px;
  background: url(../images/sprite.png) no-repeat -118px -328px;
  text-align: center;
  padding-top: 20px;
  text-shadow: 0 -2px 0 #000000;
  cursor: pointer;
  color: #ffffff;
}
div#wrapper div.home-page-rows div.center ul li div div.stepsMethod span {
  display: block;
  font-size: 2.5em;
}
div#wrapper div.home-page-rows div.center ul li div.bodyMethod {
  position: absolute;
  left: 121px;
  top: 0;
}
div#wrapper div.home-page-rows div.center ul li div.bodyMethod div.graphic {
  background: url(../images/sprite.png) no-repeat 10px -530px;
  height: 51px;
  width: 130px;
}
div#wrapper div.home-page-rows div.center ul li div.bodyMethod p {
  padding: 10px 0;
  font-size: .85em;
}
div#wrapper div.home-page-rows div.center ul li.views-row-2 div.bodyMethod div.graphic {
  background: url(../images/sprite.png) no-repeat -247px -529px;
}
div#wrapper div.home-page-rows div.center ul li.views-row-3 div.bodyMethod div.graphic {
  background: url(../images/sprite.png) no-repeat -540px -528px;
}
div#wrapper div.home-page-rows div.center ul li.views-row-4 div.bodyMethod div.graphic {
  background: url(../images/sprite.png) no-repeat -787px -529px;
}
div#wrapper div.home-page-rows div.center ul li.views-row-first {
  width: 400px;
}
div#wrapper div.home-page-rows div.center ul li.views-row-first div.stepsMethod {
  background: url(../images/sprite.png) no-repeat -7px -328px;
}
div#wrapper div.home-page-rows div.center ul li.current div.stepsMethod {
  background: url(../images/sprite.png) no-repeat -7px -328px;
}
div#wrapper div.home-page-rows.views-row-odd {
  background: url(../images/tiler.jpg) repeat left top;
  padding: 10px;
  position: relative;
}
div#wrapper div.home-page-rows.views-row-odd p {
  color: #ffffff;
  width: 350px;
}
div#wrapper div.home-page-rows.views-row-odd a {
  color: #ff7233;
  text-decoration: underline;
}
div#wrapper div.home-page-rows.views-row-odd a:hover {
  color: #ffffff;
}
div#wrapper div.home-page-rows.views-row-odd div.contTxt {
  color: #cccccc !important;
}
div#wrapper div.home-page-rows.views-row-odd div.stripesTop,
div#wrapper div.home-page-rows.views-row-odd div.stripesBottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  background: url(../images/line-tiler.gif) repeat-x left top;
}
div#wrapper div.home-page-rows.views-row-odd div.stripesBottom {
  bottom: 0;
  top: auto;
}
div#subContent {
  padding: 30px;
}
div#subContent p {
  padding-bottom: 10px;
}
div.media {
  position: relative;
}
div.media span.playBtn {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 258px;
  cursor: pointer;
  height: 192px;
  background: url(../images/play-btn.png) no-repeat center center;
}
form {
  font-family: 'Didact Gothic', sans-serif;
  padding: 20px;
}
form label {
  display: block;
  padding: 5px 0;
}
form input {
  border: solid 1px #cccccc;
  padding: 5px;
  font-size: .9em;
}
form input.form-submit {
  background: url(../images/tiler.jpg) left top;
  -webkit-box-shadow: 1px 1px 5px 0px #000000;
  -moz-box-shadow: 1px 1px 5px 0px #000000;
  box-shadow: 1px 1px 5px 0px #000000;
  border: solid 2px #cccccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 15px;
  width: 250px!important;
}
div#ownPop {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
}
div#ownPop div.ownControllers a {
  position: absolute;
  right: 0px;
  top: -30px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 10px;
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  display: block;
  text-decoration: none;
}
div#ownPop div.ownOverlay {
  background: #000000;
  filter: alpha(opacity=80);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
div#ownPop div.ownContent {
  z-index: 2;
  background: #0b0b0b;
  width: 600px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #363636;
  height: 360px;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  box-shadow: 1px 1px 20px 0px #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -180px;
  margin-left: -320px;
}
div#ownPop div.ownContent div#app_infoHolder {
  color: #ffffff;
  margin: 20px;
  overflow: auto;
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.6em;
  height: 340px;
}
div#ownPop div.ownContent div#app_infoHolder h1 {
  font-size: 1.3em;
  padding-bottom: 20px;
}
div#ownPop div.ownContent div#app_youtubeHolder img {
  border: solid 1px #cccccc;
}
div#ownPop div.ownContent div.downloadInfoContent {
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  height: 400px;
  overflow: auto;
  padding: 20px;
  margin: 10px;
}
div#ownPop div.ownContent div.downloadInfoContent h1 {
  padding-bottom: 15px;
}
div#ownPop div.ownContent div.downloadInfoContent form {
  position: absolute;
  height: 400px;
  z-index: 9;
  font-family: 'Didact Gothic', sans-serif;
  width: 550px;
  left: 10px;
  background: #0b0b0b;
  top: 10px;
}
div#ownPop div.ownContent div.downloadInfoContent p {
  line-height: 1.6em;
}
div#ownPop div.ownContent div.downloadInfoContent div.field-label {
  padding: 10px;
}
div#ownPop div.ownContent div.downloadInfoContent a {
  color: #ff7233;
}
div#ownPop div.ownContent div.downloadInfoContent a:hover {
  color: #ffffff;
}
div#ownPop div.ownContent div.messagesHolder {
  background: #000000;
  z-index: 10;
  width: 350px;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 100px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-left: -175px;
  color: #cc0000;
  font-family: 'Didact Gothic', sans-serif;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  box-shadow: 1px 1px 20px 0px #000000;
}
div#ownPop div.ownContent div.messagesHolder div.messages {
  overflow: hidden;
}
div#ownPop div.ownContent div.messagesHolder a.sluiten {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 10px;
  height: 25px;
  color: #ffffff;
  background: #cc0000;
  text-decoration: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 20px;
  line-height: 20px;
}
div#ownPop div.ownContent div.messagesHolder a.closeForm {
  display: block;
  text-decoration: none;
  margin: 10px 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #669900;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
}
div#ownPop div.ownContent div.messagesHolder ul {
  list-style-type: none;
}
div#ownPop div.ownContent img.loader {
  position: absolute;
  right: 10px;
  top: 10px;
}
form#download-fun-userdetails--2,
form#download-fun-userdetails {
  width: 500px;
}
form#download-fun-userdetails--2 fieldset,
form#download-fun-userdetails fieldset {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
form#download-fun-userdetails--2 fieldset legend,
form#download-fun-userdetails fieldset legend {
  display: none;
}
form#download-fun-userdetails--2 fieldset div.form-item,
form#download-fun-userdetails fieldset div.form-item {
  float: left;
  width: 200px;
  padding: 0 10px 5px 0;
  margin: 0;
}
form#download-fun-userdetails--2 fieldset div.form-item label,
form#download-fun-userdetails fieldset div.form-item label {
  display: block;
  padding: 5px 0;
}
form#download-fun-userdetails--2 fieldset div.form-item input,
form#download-fun-userdetails fieldset div.form-item input {
  width: 190px;
}
form#download-fun-userdetails--2 fieldset div.form-item input#edit-housenumber,
form#download-fun-userdetails fieldset div.form-item input#edit-housenumber {
  width: 80px;
}
form#download-fun-userdetails--2 input.form-submit,
form#download-fun-userdetails input.form-submit {
  margin-top: 10px;
}
form#constant-contact-signup-form {
  padding: 0;
}
div#app_youtubeHolder {
  margin: 10px;
  overflow: auto;
}
div#app_youtubeHolder ul {
  list-style-type: none;
}
div#app_youtubeHolder ul li,
div#app_youtubeHolder ul a {
  float: left;
}
div#app_youtubeHolder ul li {
  padding: 0 10px 10px 0;
}
div.ownContentHolder a.terugToClibs {
  color: #ffffff;
  font-family: 'Didact Gothic', sans-serif;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}
div#footer {
  background: url(../images/tiler.jpg) left top;
  height: 50px;
  position: relative;
}
div#footer a#geo {
  position: absolute;
  display: block;
  color: #FF7233;
  left: 50%;
  top: 10px;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
div#footer .cc {
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -480px;
  top: 10px;
  text-decoration: none;
  background: url(../images/cc.gif) no-repeat left top;
  width: 74px;
  height: 27px;
  text-indent: -999em;
}
img.loader {
  margin: 50px;
  background: #ffffff;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
div#messages {
  text-align: left;
  font-family: 'Didact Gothic', sans-serif;
}
