.gr-frame {
  background: url(../images/subsprite.png) 0px 0px no-repeat;
  display: inline-block;
  width: 305px;
  height: 333px;
}

.gr-light {
  background: url(../images/subsprite.png) -307px 0px no-repeat;
  display: inline-block;
  width: 339px;
  height: 250px;
}

.icon-arr-down {
  background: url(../images/subsprite.png) -348px -252px no-repeat;
  display: inline-block;
  width: 17px;
  height: 14px;
}

.icon-arr-up {
  background: url(../images/subsprite.png) -367px -252px no-repeat;
  display: inline-block;
  width: 17px;
  height: 14px;
}

.icon-indicator {
  background: url(../images/subsprite.png) -307px -252px no-repeat;
  display: inline-block;
  width: 39px;
  height: 50px;
}